.main {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.codes_list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_code {
    width: max-content;
    padding: 10px 15px;
    background: none;
    border-radius: 10px;
    border-style: dashed;
    border-color: #1b8ae5;
    cursor: pointer;
}

.add_code span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 11pt;
    filter: invert(51%) sepia(82%) saturate(3518%) hue-rotate(184deg) brightness(94%) contrast(90%);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.edit_btn {
    background-color: #1b8ae5;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 10px;
    font-size: 12pt;
    cursor: pointer;
}

.edit_btn:hover {
    background-color: #1579d0;
}

.empty_list {
    margin: auto;
}

.attribute_item {
    border: solid;
    border-radius: 10px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}