.main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.list {
    width: 85%;
    margin: auto;
    margin-top: 40px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.add_layer {
    padding: 10px 15px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #1b8ae5;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
    background-color: #d1e8ff;
}

.add_layer:hover {
    transform: scale(103%);
}

.add_layer span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 11pt;
    filter: invert(51%) sepia(82%) saturate(3518%) hue-rotate(184deg) brightness(94%) contrast(90%);
}