.main {
    position: absolute;
    top: 80px;
    width: 450px;
    height: calc(100% - 100px);
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease;
}

.main h1 {
    text-align: center;
}

.expand_btn {
    position: absolute;
    top: 10px;
    right: -20px;
    padding: 30px 0;
    background-color: #afafaf;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    transition: 0.4s ease;
    cursor: pointer;
}

.object_data {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back_btn {
    background: none;
    border: none;
    width: 70px;
    font-size: 13pt;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    color: #1c8ee9;
    transition: 0.15s ease;
    filter: brightness(0) saturate(100%) invert(42%) sepia(71%) saturate(1137%)
    hue-rotate(177deg) brightness(98%) contrast(87%);
}

.back_btn:hover {
    transform: scale(105%);
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.save_btn {
    padding: 10px 20px;
    background-color: #1c8ee9;
    color: white;
    border: none;
    width: 140px;
    margin: auto;
    text-align: center;
    font-size: 12pt;
    cursor: pointer;
    transition: 0.15s ease;
}

.save_btn:hover {
    background-color: #1c85da;
}

.select_code {
    padding: 5px 20px;
    background-color: white;
    border: solid;
    border-color: #1b8ae5;
    border-radius: 10px;
    color: #1b8ae5;
    cursor: pointer;
    transition: 0.15s ease;
}

.select_code:hover {
    background-color: #1b8ae5;
    color: white;
}