.main {
    width: 80%;
    margin: 50px auto;
}

.description {
    margin-top: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px auto;
    align-items: center;
    gap: 10px;
}

.list div {
    border: solid;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 60px;
    padding: 10px 20px;
    border-radius: 10px;
}