.main {
    position: absolute;
    top: 80px;
    width: 450px;
    height: calc(100% - 100px);
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease;
}

.expand_btn {
    position: absolute;
    top: 10px;
    right: -20px;
    padding: 30px 0;
    background-color: #afafaf;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    transition: 0.4s ease;
    cursor: pointer;
}