.message {
    display: flex;
    gap: 10px;
}

.content {
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    max-width: 40%;
    white-space: break-spaces;
    word-break: break-all;
}

.self_message {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.self_message .content {
    background-color: #86c3f6;
}

.message_content {
    margin-right: 40px;
}

.message .content {
    box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.message .content p:first-child {
    color: #1b8ae5;
    font-size: 11pt;
    margin-bottom: 5px;
}

.self_message .send_time {
    color: #1b8ae5;
}

.send_time {
    color: gray;
    float: right;
    font-size: 10pt;
    margin-top: -5px;
}

.sender_data {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sender_data p:last-child {
    font-size: 10pt;
    color: gray;
}